* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;

}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    color: black;

}

.header {
    background-color: #323864;
    padding: 25px 0;

}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    flex-basis: 25%;
   
}

.navbar {
    flex-basis: 25%;
    
}

.logo a {
    padding: 20px;
    display: inline-block;

}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.flex-3-column p {
    color: red;
    font-weight: 400;
    
}

.navbar ul li a {
    background-color: #ffffff;
    color: #323864;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    align-content: left;
    text-transform: uppercase;
    font-weight: 600;
}

.distance {
    margin: 35px 0;
}

.flex-3-column {
    flex-basis: 31%;

}

h3 {
    font-size: 14px;
    margin: 15px 0;

}

.read-more,
.read-more a {
    color: #edbe45;
    text-decoration: none;
    position: relative;
}

p {
    margin: 15px 0;

}

.read-more a::after {
    font-family: FontAwesome;
    content: "\f101";
    position: absolute;
    top: 1px;
    right: -15px;
}

.flex-half-column {
    flex-basis: 48%;
    margin-bottom: 5%;
    margin-top: 7%;
}

.flex-half-column ul li {
    padding: 1%;
}

h1 {
    color: black;
}

.footer-top {
    background-color: #323864;
    padding: 30px 0;
}

h4 {
    color: #fff;
    margin: 15px 0;

}

.footer-top ul {
    list-style: none;
}

.footer-top ul li a {
    color: #ffffff;
    text-decoration: none;

}

.footer-top ul li {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #555555;

}

.flex-4-column {
    flex-basis: 22%;
}

.footer-bottom {
    background-color: #323868;
    color: #979797;
}

.created-by {
    text-align: right;

}

@media (max-width: 700px) {
    .flex-box {
        flex-direction: column;

    }

    .header,
    .navbar ul,
    .created-by {
        text-align: center;
    }

    .container {
        padding: 0 25px;
    }

    .navbar ul {
        justify-content: center;
    }
}

#menu1 {
    visibility: hidden;
}

#menu2 {
    visibility: hidden;

}

#menu4 {
    visibility: hidden;
}

#menu3 {
    visibility: hidden;
}